* {
  font-family: "Hind", sans-serif;
  margin: 0px;
  padding: 0px;
}

header {
  background-color: rgb(53, 53, 53);
  height: 55px;
  margin-left: 10px;
  margin-right: 10px;
}

ul li {
  color: white;
  list-style: none;
  text-decoration: none;
  display: inline-block;
  margin: 0px;
  padding: 10px;
  margin-top: center;
}

ul :hover {
  background-color: #1f1f1f;
  margin-top: center;
  margin: 0;
}


/*
.home {
  background-color: blue;
  width: 60px;
  height: 40px;
  margin: -3px 0px 0px 0px;
  float: center;
  margin-right: auto;
  margin-top: -100px;
}

*/

li{
    font-size: 20px;
    font-weight: 200;
}
