@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara&display=swap');
/*
      MIS PROYECTOS
*/

* {
  /*font-family: "Hind", sans-serif;*/
  font-family: 'Hind Vadodara', sans-serif;
  margin: 0px;
  padding: 0px;
}

header {
  margin-left: 10px; /*-----------------------------ARREGLAR*/
  margin-right: 10px; /*-----------------------------ARREGLAR*/
  background-color: rgb(53, 53, 53);
  height: 5, 5vw;
  border-radius: 5px;
}

ul li {
  border-radius: 5px 0px 0px 5px;
  margin: 0px;
  padding: 10px; /*-----------------------------ARREGLAR*/
  color: white;
  list-style: none;
  text-decoration: none;
  display: inline-block;
  margin-top: center;
  /*transition: all 0.4s ease 0s;*/
}

ul :hover {
  margin: 0;
  background-color: #1f1f1f;
  margin-top: center;
  transition: all 0.4s ease 0s;
}

li {
  font-size: 20px;
  font-weight: 200;
}

.Contenido {
  width: 75%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  border: 20px solid #dadadaf5;
  background-color: #f6f6f6;
}

h1 {
  min-width: 235px; /*-----------------------------ARREGLAR*/
  margin: 10px; /*-----------------------------ARREGLAR*/
  font-size: 5, 5vw;
  padding: 5px; /*-----------------------------ARREGLAR*/
  /*transition: all 0.4s ease 0s;*/
}

h1:hover {
  color: red;
  width: 250px;
  transition: all 0.4s ease 0s;
}

body {
  background-color: #e0e0e0;
  width: 100%;
}

a {
  list-style: none;
  text-decoration: none;
  color: White;
}

h2 {
  font-size: 20px;
}

/*------------------PrimerTexto------------------------------*/

.PrimerProyecto {
  border-radius: 3px;
  border: 1px solid #dad7d1;
  margin: 30px 10px 10px 10px; /*-----------------------------ARREGLAR*/
  padding: 10px; /*-----------------------------ARREGLAR*/
}

.BotonCalculadora1 {

    padding: 6px 12px;
    height: 30px;
    width: 90px;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #007BFF;
    font-size: 1rem;
    margin-left: 42%;
    margin-right: 40%;
}

.TextoProyecto1 {
  width: 100%;
  text-align: center;
  font-family: 'Hind Vadodara', sans-serif;
}

/*------------------------------SegundoTexto*/

.SegundoProyecto {
  border-radius: 3px;
  border: 1px solid #dad7d1;
  margin: 30px 10px 10px 10px; /*-----------------------------ARREGLAR*/
  padding: 10px; /*-----------------------------ARREGLAR*/
}

.Home {
  background-color: red;
}
