@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara&display=swap');
/*
      CONTACTO
*/

* {
  /*font-family: "Hind", sans-serif;*/
  font-family: 'Hind Vadodara', sans-serif;
  margin: 0px;
  padding: 0px;
}

/*    HEADER*/

header {
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(53, 53, 53);
  height: 5, 5vw;
  border-radius: 5px;
}

ul li {
  border-radius: 5px 0px 0px 5px;
  margin: 0px;
  padding: 10px;
  color: white;
  list-style: none;
  text-decoration: none;
  display: inline-block;
  margin-top: center;
}

ul :hover {
  margin: 0;
  background-color: #1f1f1f;
  margin-top: center;
  transition: all 0.4s ease 0s;
}

.Home {
  background-color: red;
}

li {
  font-size: 20px;
  font-weight: 200;
}

.Contenido {
  width: 75%;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  border: 20px solid #dadadaf5;
  background-color: #f6f6f6;
}

h1 {
  min-width: 235px;
  margin: 10px; /*-----------------------------ARREGLAR*/
  font-size: 5, 5vw;
  padding: 5px; /*-----------------------------ARREGLAR*/
}

h1:hover {
  color: red;
  width: 250px;
  transition: all 0.4s ease 0s;
}

/*    BODY*/

body {
  background-color: #e0e0e0;
  width: 100%;
}

a {
  list-style: none;
  text-decoration: none;
  color: White;
}

aside{
  text-align: center;
  margin-top: auto;
  margin-left: auto;
}

.Facebook {
  display: inline-block;
  min-width: 230px;
  width: 25%;
  height: 250px;
  border: 1px solid #dad7d1;
  border-radius: 15px;
  text-align: center;
  margin: 20px;
}


/* 

/*------------------------GITHUB
.GitHub {
  display: inline-block;
  width: 250px;
  height: 250px;
  border: 1px solid #dad7d1;
  border-radius: 15px;
  text-align: center;
  margin: 20px;
}

.TextGitHub {
  font-size: 20px;
}

.ImgGitHub {
  width: 18%;
  height: ;
}

/*------------------------FACEBOOK

.Facebook {
  display: inline-block;
  width: 18%;
  height: 100%;
  border: 1px solid #dad7d1;
  margin-top: auto; /* -----
  border-radius: 15px;
  text-align: center;
  margin: 20px;
}

.TextFacebook {
  font-size: 20px;
}

.ImgFacebook {
  width: 18%;
}
/*------------------------INSTAGRAM

.Instagram {
  display: inline-block;
  width: 250px;
  height: 250px;
  border: 1px solid #dad7d1;
  border-radius: 15px;
  text-align: center;
  margin: 20px;
}

.TextInstagram {
  font-size: 20px;
}

.ImgInstagram {
  width: 18%;
}

section {
  text-align: center;
  height: 600px;
  width: 100%;
}
*/


